body {
  font-family: 'Space Mono', monospace;
  background-color: #0a0a0a;
  color: #fafafa;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-height: 100vh;
  font-size: 16px;
}
.container {
  margin: 0 auto;
  margin-top: 30px;
  padding: 10%;
}
button {
  text-decoration: none;
  border-radius: 0;
  background-color: transparent;
  border-color: transparent;
  color: inherit;
  margin: 0 10px;
  font-size: 1.1em;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 2px solid #fafafa;
  transition: all .5s ease;
}
i {
  text-align: center;
}
button:hover {
  text-decoration: none;
  transform: scale(1.3);
}
button:active {
  text-decoration: none;
}
button:focus {
  outline: 0;
}
div {
  display: block;
  margin-top: 10px;
  width: 700px;
}
#pr {
  margin-top: 30px;
  font-size: 14px;
}
#quote-space {
  background: transparent;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0 auto;
  width: 40vw;
}
