body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  background-color: #fafafa;
}

button {
  color: #000;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

div {
  display: block;
  margin-top: 10px;
  width: 700px;
}

#pr {
  margin-top: 30px;
}

#quote-space {
  background: transparent;
  border: 1px dashed #000;
  font-size: 1.2em;
}
